<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#link-to 'index' class='navbar-brand'}}ΔΤΔ{{/link-to}}
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {{bind-attr class="isHome:active"}}>{{#link-to 'index'}}Home{{/link-to}}</li>
                <li {{bind-attr class="isSchedule:active"}}>{{#link-to 'schedule'}}Schedule{{/link-to}}</li>
                <li {{bind-attr class="isExam:active"}}>{{#link-to 'exam'}}Exam Study Info{{/link-to}}</li>
            </ul>
            {{#if isAuthenticated}}
                <ul class="nav navbar-right navbar-nav">
                    {{#if isMaster}}
                        <li {{bind-attr class="isUpdateP:active"}}>{{#link-to 'updatePledges'}}Update Pledges{{/link-to}}</li>
                        <li {{bind-attr class="isUpdateB:active"}}>{{#link-to 'updateBrothers'}}Update Brothers{{/link-to}}</li>
                    {{else}}
                        <li {{bind-attr class="isProfile:active"}}>{{#link-to 'profile'}}{{currentUser}}{{/link-to}}</li>
                        <li {{bind-attr class="isInterview:active"}}>{{#link-to 'interview'}}Interview Brothers{{/link-to}}</li>
                    {{/if}}
                    <li><a href="#" {{action 'logout'}}>Logout</a></li>
                </ul>
            {{else}}
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        {{input type="text" placeholder="Email" class="form-control" value=email}}
                    </div>
                    <div class="form-group">
                        {{input type="password" placeholder="Password" class="form-control" value=password}}
                    </div>
                    <button type="submit" class="btn btn-success" {{action 'login'}}>Sign in</button>
                </form>
            {{/if}}
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>

<br>
<br>
<br>

<div class="container">
    <div class="alert alert-danger alert-dismissible" id="alertError" role="alert" style="display: none">
        <button type="button" class="close" aria-label="Close" {{action 'closeError'}}>
            <span aria-hidden="true">&times;</span>
        </button> 
         <strong>Error!</strong> Invalid email or password.
    </div>
    {{outlet}}
    <hr>
    <footer>
        <p>&copy; <a href="http://www.carnegiemellon.deltsconnect.org">Delta Tau Delta, Delta Beta Chapter 2015</a></p>
    </footer>
</div>
<!-- /container -->